<app-content-header headerTitle="Rooms"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <p *ngIf="!rooms"><em>Loading...</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="rooms">
      <thead>
        <tr>
          <th>Name</th>
          <th>Seats Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td>{{ room.name }}</td>
          <td>{{ room.seats }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
