<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="assets/cinema.webp" alt="Movie Theater Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Movie Theater</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/login']" class="d-block">{{user.login}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">Manage</li>
        <li class="nav-item">
          <a [routerLink]="['/movie-sessions']" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Sessions
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/movies']" class="nav-link">
            <i class="nav-icon fas fa-film"></i>
            <p>
              Movies
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/movie-rooms']" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Rooms
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>