<app-content-header headerTitle="Movies"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <p *ngIf="!movies"><em>Loading...</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
      <thead>
        <tr>
          <th>Title</th>
          <th>Summary</th>
          <th>Duration</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.title }}</td>
          <td>{{ movie.description }}</td>
          <td>{{ movie.duration }} min  </td>
          <td>editar</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
