<app-content-header headerTitle="Session Create"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Create</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="presentation">Presentation</label>
          <input id="presentation" [(ngModel)]="presentationRange" 
                [selectMode]="'range'" [owlDateTime]="dtPresentation" [owlDateTimeTrigger]="dtPresentation"
                 class="form-control" placeholder="dd/mm/aaaa from: hh:min ~ to: hh:min">
          <owl-date-time #dtPresentation></owl-date-time>
        </div>
        <div class="form-group">
          <label for="ticketPrice">Ticket Price</label>
          <input [(ngModel)]="session.ticketPrice" type="number" id="ticketPrice" class="form-control" placeholder="Ticket Price">
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="motionGraphics">Motion Graphics</label>
            <select [(ngModel)]="session.motionGraphics" id="motionGraphics" class="form-control">
                <option *ngFor="let motion of motionGraphics" [value]="motion.value">{{ motion.text }}</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="movieAudios">Audio</label>
            <select [(ngModel)]="session.audio" id="movieAudios" class="form-control">
                <option *ngFor="let audio of movieAudios" [value]="audio.value">{{ audio.text }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a [routerLink]="['/movie-sessions']" class="btn btn-secondary">Cancel</a>
            <button (click)="create()" class="btn btn-success float-right">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
